<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSServices</key>
  <array>
    <dict>
      <key>NSMenuItem</key>
      <dict>
        <key>default</key>
        <string>New Teex Tab Here</string>
      </dict>
      <key>NSMessage</key>
      <string>newTeexTabHere</string>
      <key>NSPortName</key>
      <string>Teex</string>
      <key>NSSendFileTypes</key>
      <array>
        <string>public.data</string>
      </array>
    </dict>
    <dict>
      <key>NSMenuItem</key>
      <dict>
        <key>default</key>
        <string>New Teex Window Here</string>
      </dict>
      <key>NSMessage</key>
      <string>newTeexWindowHere</string>
      <key>NSPortName</key>
      <string>Teex</string>
      <key>NSSendFileTypes</key>
      <array>
        <string>public.data</string>
        <string>public.folder</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
